body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron { 
    background-color:   #fff;
    color:   #ccffff;
	font-family: Montserrat, sans-serif;
	padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;
	padding: 60px 50px;
}

.logo-small {
    color:   #f4511e;
    font-size: 50px;
}

.logo {
    font-size: 200px;
    color:   #f4511e;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.navbar {
    margin-bottom: 0;
    background-color:   #1affff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}