body {
	background-color : #040404;
	font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #040404;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #040404 !important;
    background-color: #6e6e6e !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #6e6e6e !important;
}

.panel-heading{
	background-color: #3f3f3f;
	color:#B7B7B6;
}
